# 1. Discuss string slicing and provide examples

Description : Character arranged in an unchangeble order . Consider writting a sentence , a paeagraph ,or a piece of material .

Operations : Each character in the string can be accessed by its index ,or postion .substrings can be extracted using a 
variety of techniques(find ,replace,len,lower,upper,swapcase,.title,.capitalize,.strip,.format,.startswith,.endswith,.isalnum ) etc

In [13]:
# 1. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3

'Abhi+pwskills'

In [14]:
# 2. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3[0]

'A'

In [15]:
# 3. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3[2:7:2]

'h+w'

In [16]:
# 4. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
len(string3)

13

In [18]:
# 5. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3.lower()

'abhi+pwskills'

In [19]:
# 6. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3.upper()

'ABHI+PWSKILLS'

In [21]:
# 7. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3.title()

'Abhi+Pwskills'

In [24]:
# 8. Example of string 
string1 = "   Abhi   "
string2 = "pwskills"
string3 = string1+"+"+string2
string1.strip()

'Abhi'

In [30]:
# 9. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2
string3.replace("Abhi" ,"ABHHI")

'ABHHI+pwskills'

In [1]:
# 10. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2 
string3.split("+")

['Abhi', 'pwskills']

In [2]:
# 11. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2 
f"{string1} is studend of {string2} so it {string3} ."

'Abhi is studend of pwskills so it Abhi+pwskills .'

In [3]:
# 11. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2 
string3.startswith("Ab")

True

In [4]:
# 11. Example of string 
string1 = "Abhi"
string2 = "pwskills"
string3 = string1+"+"+string2 
string3.endswith("lls")

True

# Most of the example of string are mention above (Q no-1)

# Explain the key features of lists in python .

Lists in Python are a fundamental data structure used to store a collection of items, which can be of varying types (such as integers, strings, or even other lists). Here are the key features of lists in Python:

1 Mutable: Lists are mutable, meaning their elements can be changed after they are created. You can modify, add, or remove elements from a list.

2 Ordered: Lists maintain the order of elements as they are inserted. The order of items in a list is preserved unless explicitly changed.

3 Indexed: Elements in a list are accessed using a zero-based index. You can retrieve individual elements by their position in the list.

4 Heterogeneous Elements: Lists can contain elements of different data types. For example, a single list can contain integers, strings, and other lists.

5 Dynamic: Lists in Python are dynamic arrays, meaning they automatically resize when elements are added or removed. There's no need to specify the size beforehand.

6 Iterable: Lists are iterable, so you can iterate over all elements in a list using a loop or comprehension.

7 Common Operations: Lists support common operations such as appending (append()), extending (extend()), inserting (insert()), deleting (del or remove()), and slicing (list[start:end]) to create sublists.

In [6]:
# Some example of lists are below 

# 1. Example of lists 
type([])

list

In [7]:
# 2. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']

# Displaying the list
print("Vegetable Grocery List:")
for veg in vegetables:
    print("- " + veg)

Vegetable Grocery List:
- carrots
- broccoli
- spinach
- tomatoes
- bell peppers

In [8]:
# 3. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
type(vegetables)

list

In [9]:
# 4. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[2:]

['spinach', 'tomatoes', 'bell peppers']

In [10]:
# 5. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[:-2]

['carrots', 'broccoli', 'spinach']

In [11]:
# 6. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[-2]

'tomatoes'

In [13]:
# 7. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.append("Apple")
vegetables

['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers', 'Apple']

In [18]:
# 8. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.remove("carrots")

In [14]:
# 9. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[0] = "Mango"
vegetables

['Mango', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']

In [20]:
# 10. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.insert(2,"Potato")
vegetables

['carrots', 'broccoli', 'Potato', 'spinach', 'tomatoes', 'bell peppers']

In [24]:
# 12. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
brothers_list = ["brinjal","Orange"]
vegetables.extend(brothers_list)
vegetables

['carrots',
 'broccoli',
 'spinach',
 'tomatoes',
 'bell peppers',
 'brinjal',
 'Orange']

In [26]:
# 13. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
"carrots" in vegetables

True

In [27]:
# 14. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.copy()

['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']

In [29]:
# 15. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
sorted(vegetables)

['bell peppers', 'broccoli', 'carrots', 'spinach', 'tomatoes']

In [30]:
# 16. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
len(vegetables)

5

In [31]:
# 17. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.count("tomatoes")

1

In [33]:
# 18. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.clear()
vegetables

[]

In [35]:
# 19. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.pop()

'bell peppers'

In [36]:
pairs = []
for x in [1 ,2,3]:
    for y in [4,5,6]:
        pairs.append([x,y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

# Most of the example of lists are mention above (Q no-2)

# Describe how to access , modify , and delete elements in a list with examples .

1. Accessing Elements
You can access elements in a list using their index. Python lists are zero-indexed,
meaning the first element has an index of 0,the second element has an index of 1, and so on .

2.Modifying Elements
Lists in Python are mutable, so you can change the value of elements using their index .

3.Deleting Elements
You can delete elements from a list using the del keyword or the remove() method. 

Notes:
If you attempt to access an index that doesn't exist in the list, Python will raise an IndexError.
If you use remove() and the element does not exist in the list, Python will raise a ValueError.

In [38]:
# Example of access , modify and delete of list

In [39]:
# 1. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[0]

'carrots'

In [40]:
# 2. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[0] = "Mango"
vegetables

['Mango', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']

In [43]:
# 3. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
del vegetables 
    vegetables

IndentationError: unexpected indent (1644495347.py, line 5)

In [44]:
# 4. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.clear()
vegetables

[]

In [45]:
# 5. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.append("Apple")
vegetables

['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers', 'Apple']

In [47]:
# 6. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.remove("carrots")
vegetables

['broccoli', 'spinach', 'tomatoes', 'bell peppers']

 # Most of the example of lists are mention above (Q no-3)

# compare and contrast tuples and lists with examples .

Tuples and lists are both data structures in Python used to store collections of items,
but they have several key differences in terms of mutability, syntax, and intended usage.
Here’s a comparison followed by examples illustrating these points: 
    
Tuples:
Immutable: Tuples are immutable, meaning once they are created, you cannot change, add, or remove elements.
You can only create a new tuple or use existing tuples.

Syntax: Tuples are defined using parentheses () and elements are separated by commas ,.

Intended Use: Tuples are typically used for heterogeneous data types and for cases where immutability
is desired (e.g., coordinates, database records).

Lists:
Mutable: Lists are mutable, allowing you to modify, add, or remove elements after creation.

Syntax: Lists are defined using square brackets [] and elements are separated by commas ,.

Intended Use: Lists are used for homogeneous data types or when you need a mutable sequence of elements.

Comparison:
Mutability: Lists are mutable (can be changed), while tuples are immutable (cannot be changed).

Syntax: Lists use square brackets [], tuples use parentheses ().

Performance: Tuples are generally faster and consume less memory than lists because of their immutability.

Use Cases: Tuples are suitable for fixed data that doesn’t change, like coordinates, database records, or function arguments.
Lists are suitable when you need a collection that can be modified, such as a list of tasks or user inputs.

In [14]:
# 1. Example of tuples
t = ()
type(t)

tuple

In [4]:
# 2. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
t[0]

'Abhi'

In [5]:
# 3. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
t.count(1)

4

In [7]:
# 4. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
t.index(1)

1

In [8]:
# 5. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
t[0:4]

('Abhi', 1, 2.2, 1)

In [9]:
# 6. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
t[::-1]

('pwskills', True, 3, 2, 2, 1, 1, 2.2, 1, 'Abhi')

In [12]:
# 7. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
"Abhi"  in t

True

In [13]:
# 8. Example of tuples 
t = ("Abhi",1,2.2,1,1,2,2,3,True,"pwskills")
q = ("Why",1,2,3,4,"my")
t+q

('Abhi', 1, 2.2, 1, 1, 2, 2, 3, True, 'pwskills', 'Why', 1, 2, 3, 4, 'my')

In [15]:
# Some example of lists are below 

# 1. Example of lists 
type([])

list

In [16]:
# 2. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']

# Displaying the list
print("Vegetable Grocery List:")
for veg in vegetables:
    print("- " + veg)

Vegetable Grocery List:
- carrots
- broccoli
- spinach
- tomatoes
- bell peppers

In [17]:
# 3. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[2:]

['spinach', 'tomatoes', 'bell peppers']

In [18]:
# 4. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables[-2]

'tomatoes'

In [19]:
# 5. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
vegetables.append("Apple")
vegetables

['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers', 'Apple']

In [20]:
# 6. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
brothers_list = ["brinjal","Orange"]
vegetables.extend(brothers_list)
vegetables

['carrots',
 'broccoli',
 'spinach',
 'tomatoes',
 'bell peppers',
 'brinjal',
 'Orange']

In [21]:
# 7. Example of lists 
# Creating a grocery list of vegetables
vegetables = ['carrots', 'broccoli', 'spinach', 'tomatoes', 'bell peppers']
"carrots" in vegetables

True

# Most of the example of tuples and lists  are mention above (Q no-4)

# 5. Describe the key features of sets and provide examples of their use .

Key Features of Sets
Unordered Collection: Sets do not maintain any order for the elements. This means that the order in which elements are inserted is not necessarily the order in which they are stored or retrieved.

Unique Elements: Sets automatically handle duplicates by only storing one instance of each element. If you try to add a duplicate element, it will be ignored.

Mutable: Sets are mutable, which means you can add or remove elements after the set is created. However, the elements themselves must be immutable (e.g., numbers, strings, tuples).

Dynamic Size: Sets can grow or shrink as elements are added or removed.

Set Operations: Sets support mathematical operations like union, intersection, difference, and symmetric difference, making them useful for operations involving multiple sets.

No Indexing: Unlike lists or tuples, sets do not support indexing, slicing, or other sequence-like behavior.

In [1]:
# 1. Creating a set with unique elements
fruits = {'apple', 'banana', 'cherry'}
print(fruits)

{'banana', 'cherry', 'apple'}

In [2]:
# 2. Adding elements
fruits.add('orange')
print(fruits)  # Output: {'banana', 'cherry', 'apple', 'orange'}

# 3.  Removing elements
fruits.remove('banana')  # Raises KeyError if 'banana' is not present
print(fruits)  # Output: {'cherry', 'apple', 'orange'}

# 4. Using discard (does not raise an error if the element is not found)
fruits.discard('banana')

{'banana', 'cherry', 'apple', 'orange'}
{'cherry', 'apple', 'orange'}

In [3]:
# 5. Define two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# 6. Union
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5, 6}

# 7. Intersection
intersection_set = set1 & set2
print(intersection_set)  # Output: {3, 4}

# 8. Difference
difference_set = set1 - set2
print(difference_set)  # Output: {1, 2}

#  9. Symmetric Difference
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)  # Output: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [4]:
# 10. Membership test
print(2 in set1)  # Output: True
print(7 in set1)  # Output: False

True
False

In [5]:
for fruit in fruits:
    print(fruit)

cherry
apple
orange

In [6]:
# 11. Creating a set with a comprehension
squares = {x**2 for x in range(10)}
print(squares)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

# Most of the example of sets are mention above (Q no-5)

#  Discuss the use cases of tuples and sets in Python programming .

Tuples
Tuples are immutable sequences, meaning once they are created, their contents cannot be changed. They are useful in various scenarios:

Immutable Data Structures

Use Case: When you need to ensure that the data remains constant and unaltered.
Example: Representing a fixed collection of items, such as coordinates in a 2D space.

Returning Multiple Values from a Function

Use Case: When a function needs to return multiple values, tuples provide a convenient way to pack and return these values.
Example: A function that returns both the minimum and maximum values of a list.

In [7]:
def min_max(values):
    return (min(values), max(values))

result = min_max([1, 3, 5, 7])
print(result)

(1, 7)

Returning Multiple Values from a Function

Use Case: When a function needs to return multiple values, tuples provide a convenient way to pack and return these values.
Example: A function that returns both the minimum and maximum values of a list.

Dictionary Keys

Use Case: When you need to use compound keys in dictionaries. Tuples are hashable and can be used as dictionary keys, unlike lists.
Example: Storing data with complex keys.

In [8]:
location_data = {
    (37.7749, -122.4194): 'San Francisco',
    (34.0522, -118.2437): 'Los Angeles'
}

Sets are unordered collections of unique elements. They are particularly useful for operations involving membership tests, uniqueness, and mathematical set operations. Here are common use cases:

Unique Elements

Use Case: When you need to ensure that a collection contains no duplicate elements.
Example: Removing duplicates from a list.

In [9]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}

Membership Testing

Use Case: When you need to test membership quickly. Sets provide average O(1) time complexity for membership tests.
Example: Checking if an element exists in a set.

In [10]:
allowed_users = {'alice', 'bob', 'charlie'}
print('bob' in allowed_users)  
print('dave' in allowed_users)

True
False

Set Operations

Use Case: When you need to perform mathematical operations like union, intersection, difference, and symmetric difference.
Example: Finding common or unique items between two collections.

In [11]:
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}

union = set_a | set_b
intersection = set_a & set_b
difference = set_a - set_b
symmetric_difference = set_a ^ set_b

print(union)               
print(intersection)        
print(difference)          
print(symmetric_difference)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

Eliminating Duplicates

Use Case: When you want to eliminate duplicate values from a collection.
Example: Filtering out duplicates from a list of items.

In [12]:
items = ['apple', 'banana', 'apple', 'cherry']
unique_items = set(items)
print(unique_items)

{'cherry', 'banana', 'apple'}

Set Membership Tests

Use Case: When you need to test if multiple items are present in a collection or if a collection contains a subset of items.
Example: Checking if one set is a subset or superset of another.
python

In [13]:
set_x = {1, 2, 3}
set_y = {2, 3}

print(set_y.issubset(set_x))  # Output: True
print(set_x.issuperset(set_y)) # Output: True

True
True

 # Most of the example of use cases of tuples and sets are mention above (Q no-6)

#  Describe how to add , modify , and delete items in a dicttonary with examples

In Python, dictionaries are mutable, unordered collections of key-value pairs. You can add, modify, and delete items in a dictionary using various methods. Here’s a detailed description with examples for each operation:

Adding Items
Adding a New Key-Value Pair

You can add a new key-value pair to a dictionary by assigning a value to a new key.

In [14]:
# 1. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92}

#  Add a new key-value pair
student_grades['Charlie'] = 78

print(student_grades)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [15]:
# 2. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92}

#   Add multiple key-value pairs
student_grades.update({'Charlie': 78, 'David': 88})

print(student_grades)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 88}

In [16]:
# 3. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92}

#  Modify the value for an existing key
student_grades['Alice'] = 90

print(student_grades)

{'Alice': 90, 'Bob': 92}

In [17]:
# 4. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92}

#  Update the value for an existing key and add a new key-value pair
student_grades.update({'Alice': 88, 'Charlie': 78})

print(student_grades)

{'Alice': 88, 'Bob': 92, 'Charlie': 78}

In [18]:
# 5. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Delete a key-value pair
del student_grades['Charlie']

print(student_grades)

{'Alice': 85, 'Bob': 92}

In [19]:
# 6. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Remove an item and return its value
removed_grade = student_grades.pop('Charlie')

print(removed_grade)  # Output: 78
print(student_grades)  # Output: {'Alice': 85, 'Bob': 92}

# Remove an item with a default value
removed_grade = student_grades.pop('Charlie', 'Not Found')
print(removed_grade)

78
{'Alice': 85, 'Bob': 92}
Not Found

In [20]:
#  7. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Remove the last key-value pair
last_item = student_grades.popitem()

print(last_item)  
print(student_grades)

('Charlie', 78)
{'Alice': 85, 'Bob': 92}

In [21]:
# 8. Initialize a dictionary
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Clear all items from the dictionary
student_grades.clear()

print(student_grades)

{}

# Most of the example of add , modify , and delete items in a dictionary are mention above (Q no-7)

# Discuss the importance of dictionary keys being immutable and provide examples .

Explanation: Dictionaries use a hash table to quickly retrieve values based on keys. 
When a key is added to a dictionary, its hash value is computed and used to determine its location in the hash table. 
If the key were mutable, its hash value could change, causing inconsistencies and errors in the dictionary.

Explanation: Immutability ensures that once a key is set in the dictionary, it cannot be altered. 
This guarantees that the key-value pair remains stable and reliable throughout the lifetime of the dictionary.

In [23]:
# 1. Example of dictionary
d = {}
type(d)

dict

In [32]:
# 2. Example of dictionary 
d = {"name":"ajay","email":"aj@gamil.com","contact":123}
d

{'name': 'ajay', 'email': 'aj@gamil.com', 'contact': 123}

In [33]:
# 3. Example of dictionary
d = {"key" :1}
d['key']

1

In [34]:
# 4. Example of dictionary
d ={1.2:"abc"}
d

{1.2: 'abc'}

In [35]:
# 5. Example of dictionary
d = { 'name' : [ 'sanjay' ,'abhi',1,2] ,'email':'as@gmail.com','contact':(1234,6780) }
d

{'name': ['sanjay', 'abhi', 1, 2],
 'email': 'as@gmail.com',
 'contact': (1234, 6780)}

In [36]:
# 6. Example of dictionary
d.fromkeys((1,2,3) ,("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [30]:
# 7. dictionary comprehension 

#zip funcution
students = [ "arun","ajay","bijay" ]
marks = [80,95,100 ]

for i in zip(students,marks):
    print(i)

('arun', 80)
('ajay', 95)
('bijay', 100)

In [31]:
# 8. using dictionary comprehension method 
students = ["a","b","c"]
marks = [111,110,109]
{student:marks for student ,marks in zip(students,marks)}

{'a': 111, 'b': 110, 'c': 109}